<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h3>Post</h3>

<p>
  <a th:href="@{/posts/create-post}">
    Add new post
  </a><br>
  <br>
  <a th:href="@{/posts/top4New}">
    List new post
  </a>
</p>
<!--<form>-->
<!--  <input type="text" name="search">-->
<!--  <button>Search</button>-->
<!--</form>-->
<form>
  Search by first name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form>
<hr>
<form th:action="@{/posts/search}">
  <input type="datetime-local" name="from">
  <input type="datetime-local" name="to">
<button>SearchfindByCrearAtBetween</button>
</form>

<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<div>
  <a th:href="@{'/posts'(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}">Previous</a>
  <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
  <a th:href="@{'/posts'(page=${posts.number + 1})}" th:if="${posts.hasNext()}">Next</a>
</div>
<table id="posts">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>CreateAt</th>
    <th>Likes</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pro : ${posts}">
    <td th:text="${pro.id}"></td>
    <td th:text="${pro.title}"></td>
    <td th:text="${pro.content}"></td>
    <td th:text="${pro.createAt}"></td>
    <td th:text="${pro.likes}"></td>
    <td><a th:href="@{/posts/edit/__${pro.id}__}">Edit</a></td>
    <td><a th:href="@{/posts/delete/__${pro.id}__}">Delete</a></td>
    <td><a th:href="@{/posts/view/__${pro.id}__}">View</a></td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
