<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h3>Post</h3>
<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<table id="posts">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>CreateAt</th>
    <th>Likes</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pro : ${post}">
    <td th:text="${pro.id}"></td>
    <td th:text="${pro.title}"></td>
    <td th:text="${pro.content}"></td>
    <td th:text="${pro.createAt}"></td>
    <td th:text="${pro.likes}"></td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
